:root {
  --color-darkest: #141b14;
  --color-dark: #293837;
  --color-medium: #4f5c68;
  --color-light: #d8d8d8;

  --color-theme: #0a501c;
  --color-accent: #b2ff4d;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  font-family: "Red Hat Display", sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding: 3.2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 50rem;
}

.app-header {
  width: 66rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  padding: 10px 10px 10px 10px;
  border: 2px solid;
  box-shadow: 5px 10px #888888;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: 14rem;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draggable {
  touch-action: none;
}

.stackDiv {
  display: flex;
  margin-top: 50px;
  gap: 5px;
}

.footer {
  font-size: 1.1rem;
  margin-top: 20px;
}

.btn {
  display: block;
  font-family: inherit;
  color: #fff;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1rem 2rem;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-light);
  border: 2px solid var(--color-theme);
  color: var(--color-theme);
}

.btn-ui {
  float: right;
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.stateDisplay {
  background-color: #fff;

  padding: 10px 10px 10px 10px;
  border: 2px solid;
  box-shadow: 5px 10px #888888;
}

.numberState {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 3rem;
  font-weight: 300;
  padding-left: 5px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;
}

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-dark);

  padding: 3rem 3rem;
  margin-left: 10px;
  border-radius: 100%;
  align-items: center;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
